#category-bar {
  display: flex;
  border: 1px solid;
  border-color: #d2dae0;
  width: 930px;
  background-color: #f5f7f9;
  margin: 0 auto;
}

#category-bar section {
  color: #879298;
  padding: 11.5px 16px 11.5px 16px;
  display: flex;
  gap: 40px;
  align-items: center;
  font-weight: 500;
}

.current-page {
  font-size: 12px;
}

.current-page-number {
  color: #ffffff;
}

.total-page-number {
  color: #ffffffb2;
}

.category-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.category-name {
  font-size: 14px;
}

.selected-category {
  background-color: #4362d0;
  color: #ffffff !important;
  font-weight: 700 !important;
}
