#category-bar {
  display: flex;
  border-bottom: 1px solid;
  border-color: #d2dae0;
  width: 930px;
  background-color: #f5f7f9;
  margin: 0 auto;
  box-sizing: border-box;
}

#category-bar section {
  color: #879298;
  padding: 11.5px 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
  box-sizing: border-box;
}

.current-page {
  font-size: 12px;
}

.current-page-number {
  color: #ffffff;
}

.total-page-number {
  color: #ffffffb2;
}

.category-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.category-name {
  font-size: 14px;
}

.selected-category {
  background-color: #4362d0;
  color: #ffffff !important;
  font-weight: 700 !important;
  width: 166px;
}

.press-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.press-name {
  font-size: 14px;
}

.press-icon {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
}

.icon-wrap {
  height: 14px;
}
