#header {
  display: flex;
  margin: 0px 48px 40px 47px;
  border: solid red;
  justify-content: space-between;
  align-items: center;
}

#logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo-img {
  width: 24px;
  height: 24px;
}

#date {
  font-size: 16px;
  color: #5f6e76;
}

#name {
  margin: 0 0 0 0;
}
