@import url("CategoryBar.css");
@import url("Header.css");
@import url("RollingNews.css");
@import url("TabBar.css");

body {
  width: 1280px;
  margin: 0 auto;
}

#news-container {
  display: flex; /* 가로로 정렬 */
  gap: 8px;
  width: 930px;
  margin: 0 auto;
  margin-bottom: 32px;
}

#news-list {
  width: 930px;
  margin: 0 auto;
  height: 388px;
}

#tab-bar {
  width: 930px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
}
