#press-news {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#press-info {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #5f6e76;
}

#news {
  display: flex;
  gap: 32px;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

#sub {
  flex-grow: 1;
}

#sub > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

#press-news > #news > #sub > ul > li.subtitle {
  font-size: 16px;
  color: #4b5966;
}

.media-logo {
  width: 52.5px;
  height: 20px;
}

.time {
  font-size: 12px;
}

.mainImg {
  width: 320px;
  height: 200px;
}

.mainTitle {
  font-size: 16px;
}

.caption {
  font-size: 14px;
  color: #879298;
}
