#rolling-news {
  box-sizing: border-box;
  height: 49px;
  width: 461px;
  font-size: 14px;
  padding: 16px;
  background-color: #f5f7f9;
  border: 1px solid #d2dae0;
  color: #5f6e76;
}

#rolling-news > #wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

#rolling-news ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  flex-grow: 1;
  align-items: center;
}

#rolling-news li.news-title.current {
  transform: translateY(0);
  visibility: visible;
  transition: transform 0.5s ease, visibility 0s;
}

li.next {
  transform: translateY(-100%); /* 이전 아이템은 위로 올라감 */
}

li.prev {
  transform: translateY(100%); /* 다음 아이템은 아래에서 대기 */
}

#rolling-news li.news-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(100%);
  visibility: hidden;
}

a {
  text-decoration: none;
  overflow: hidden;
}

#media-name {
  font-size: 14px;
}
