#rolling-news {
  box-sizing: border-box;
  height: 49px;
  width: 461px;
  font-size: 14px;
  padding: 16px;
  background-color: #f5f7f9;
  border: 1px solid;
  border-color: #d2dae0;
  color: #5f6e76;
  position: relative;
}

#rolling-news > #wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

li {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(100%); /* 기본적으로 화면 아래에 숨김 */
  visibility: hidden;
}

li.current {
  transform: translateY(0);
  visibility: visible;
  transition: transform 0.5s ease, visibility 0s;
}

li.next {
  transform: translateY(-100%); /* 이전 아이템은 위로 올라감 */
}

li.prev {
  transform: translateY(100%); /* 다음 아이템은 아래에서 대기 */
}

a {
  display: block;
  text-decoration: none;
  overflow: hidden;
}
