#tab-bar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#press-name {
  display: flex;
  padding: 0;
  gap: 24px;
  align-items: center;
  font-weight: 500;
  text-size: 16px;
  color: #879298;
}

p {
  margin: 0 0 0 0;
}

#list-grid {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-press {
  font-weight: 700;
  color: black;
  pointer-events: none;
}

p:hover {
  cursor: pointer;
  text-decoration: underline;
}
